<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">

	<targets async="true">
		<target name="seatinglog" xsi:type="File" fileName="${basedir}/seating/file.log" layout="${date}|${message}"/>
		<target name="errorlog" xsi:type="File" fileName="${basedir}/errors/error.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="Seating" minlevel="Debug" writeTo="seatinglog" />
		<logger name="*.Error" minlevel="Warn" writeTo="errorlog" />
	</rules>
</nlog>